input[type="button"] {
    height: 60px;
    width: auto;
    text-align: center; 
    border-width: 0px;
    
    border-radius: 10px;

    padding: 6px;
    padding-left: 50px;
    padding-right: 50px;
    
    position :relative;
    color:black;
    margin: auto;
    margin-bottom:6px;
    font-weight: bold;
}

input[type="button"]:hover{
    background-color:lightskyblue;
    color: white;
   	box-shadow: 0px 0px 5px 2px #848484;
    cursor: pointer;
  
}

.content{
	padding-top: 15vh;
	display: flex;
	justify-content: space-evenly;
}

.buttons{
	
    border-width: 0px;
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 5px 3px #848484;
    background-color: white;
    text-align: center;
    height: auto;
    width : auto;
    position:relative;
    
    font-size: 25px;

}

