.container{
	display: block;
	text-align:center;
}


thead{
	padding-top: 12px;
  	padding-bottom: 12px;
  	text-align: left;
  	background-color: #4CAF50;
  	color: white;
	
	
}

.table-fixed{
	text-align:center;
	font-size:15px;
	width:800px;
	color:black;
	cellspacing:0px;
	cellpadding:0px;
	margin-left: 30%;
	margin-right: 30%;
    margin-top: 10rem;
    border-width:1px;
    border-color:black;
}

tbody{
	height:1500px;
	width: 800px;
	overflow:auto;
	overflow-x:hidden;
	background-color:white;
}


#txt {
	color:black;
}
