.container{
	display: block;
	text-align:center;
}


thead{
	height: 30px;
	width: 60%;
	background-color:gray;
	
}

.table-fixed{
	text-align:center;
	font-size:15px;
	width:60%;
	color:black;
	cellspacing:0px;
	cellpadding:0px;
	margin-left: 20%;
	margin-right: 20%;
    margin-top: 10rem;
    border-width:1px;
    border-color:black;
}

tbody{
	height:100px;
	width: 60%;
	overflow:auto;
	overflow-x:hidden;
	background-color:white;
}

.table-fixed .col {
    width: 14%;
}