.operations{
	
	padding-top:10px;
	text-align: justify;

}

.historyValue{
	text-align: justify;
	
}

.content{
	padding-top: 15vh;
	display: flex;
	align-items: flex-start;
	justify-content: space-evenly;
}
