* {
    margin: 0;
    padding: 0;
}

h1{
	font-size:50px;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
    font-size: 22px;
    background-color: lightgray;
    
}

li {
	
	list-style: none;
}

a {
	text-decoration: none;
	color: black;
}

nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 8vh;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
	color: #BDD7EE;
	
    border-width: 0px;
    background-color: white;
    margin-bottom: 3vh;
    
    border-style: solid;
    border-radius: 0px;
    border-color: black;
    box-shadow: 0px 0px 5px 2px #848484;

}

form{
    border-width: 0px;
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 5px 3px #848484;
    background-color: white;
    text-align: center;
    height: auto;
    width : 200px;
    position:relative;
    
    font-size: 25px;
}

fieldset{
    margin: 10px;
    padding: 10px;
}

fieldset:hover{
	box-shadow: 0px 0px 5px #444;
	
}

legend{
	font-weight:bold;
}

.amount{
	border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    color: #006E36;
    border-color: black;
    font-weight: bold;
}

#profil{
	text-align: center; 
    border-width: 0px;
    text-decoration: none;
    border-radius: 10px;
	font-size: 18px;
    color:black;
    font-weight: bold;
    padding: 10px 15px;
    height: 43.6px;
    width: auto;
    min-width:100px;
    
    flex-basis: 20%;

}

#profil:hover{
    background-color: #BDD7EE;
    cursor: pointer;
}

.title{
	flex-basis:50%;
	text-align: center;
}

.logoDiv{
	flex-basis: 10%;
	align-items: center;
	padding: 10px;
}

.logo{
	
	height: 60px;
}

.navlinks a:hover {
    background: #BDD7EE;
    color: black;
  }

.navlinks{
    display: flex;
    justify-content: space-around;
    width: 60%;
}

.navlinks a{
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
    color: black;
    
}

.burger div {

    width: 25px;
    height: 3px;
    margin:5px;
    background-color: black;
    flex-basis: 10%;
}

.burger{
    cursor: pointer;
}

@media screen {
    
    
    .navlinks {
        position: fixed;
        left: 0px;
        height: 92vh;
        top: 12vh;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 20%;
        transform: translateX(-110%);
        transition: transform 0.5s ease-in;


        border-width: 0px;
    background-color: white;

    
    border-style: solid;
    border-color: black;
    box-shadow: 0px 6px 5px 2px #848484;

    }
    
    .navlinks li {
        opacity: 0;
    }
    
    .burger {
        display: block;
        cursor: pointer;
    }
}

.nav-active {
        transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}




.operations{
	
	padding-top:10px;
	text-align: justify;
	
	
}

.historyValue{
	text-align: justify;
	
}

.content{
	padding-top: 15vh;
	display: flex;
	align-items: flex-start;
	justify-content: space-evenly;
}
